.height-100 {
  height: 100vh;
}
html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width-100 {
  width: 100%;
}
.mat-mdc-tab-body-content {
  overflow-y: hidden !important;
}
